* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.debug {
  border: 1px solid black;
  background-color: rgba(164, 99, 99, 0.355);
}

.button {
  width: 50px;
}

/* Header */
header {
  background-color: rgba(0, 0, 255, 0.368);
}

header .container{
  align-items: center ;
  justify-content: space-between;
  width: 90%;
  height: 70px;
}

header .menu-right {
  width: 50%;
  height: 100%;
  background-color: #d37b7b6b;
  display: none;
}

header .side-menu {
  height: 100%;

/* debug */
  width: 70px
}
/* /Header */


/* Main */


main .container {
  height: 100%;
  flex-wrap: wrap;

}

main .container .row {
  flex-wrap: wrap;
}

main .container .card-big {
  width: 100% ;
  
  margin: 10px auto;
  flex-wrap: wrap;
  /* debug */
  height: 600px;
  border: 1px solid black;

}

main .container .card {
  width: 100%;
  height: 330px;
  margin: 10px auto;
}

.section-2 .container{
  align-items: baseline;
  flex-wrap: wrap;
}

.section-2 .left{
  width: 100%;
  height: 600px;
}

.section-2 .right{
  width: 100%;
  height: 500px;
}


.testimonial .intestazione {
  width: 100%;
  height: 200px;
}

.testimonial .card {
  height: 500px;
  width: 100%;
  margin-bottom: 10px;
}

.testimonial .card .img {
  height: 40%;
}
.benefits .container .text {
  height: 50px;
  
}

.benefits .container-cards .card {
  height: 300px;
}

.about-us .container .col-left {
  width: 100%;
  height: 500px;
}

.about-us .container .col-right {
  width: 100%;
  height: 500px;
}


.cta {
  height: 500px;
}

.cta .content {
  height: 400px;
}

/* /Main */

/* Footer */
  footer .container {
    text-align: center;
    height: 130px;
  }


/* /Footer */


/* Responsive */

@media screen and (min-width: 480px ){
  .section-demo .container .card{
    width: calc(90% / 3);
  }
  .section-demo .container .row .card{
    width: calc(90% / 3);
  }

  main .container .row {
  flex-wrap: wrap;
  }


  main .container .card-big {
    height: 560px;
    width: 63%;
  }

  main .container .row .card {
    height: 560px;
  }

  main .testimonial .card {
    width: 100%;
    height: 200px;
  }

  .testimonial .card .img {
    height: 100%;
    width: 30%;
  }

  .benefits .container-cards {
    display: flex;
    flex-wrap: wrap;
  }

  .benefits .container-cards .card{
    width: 45%;
  }
  .about-us .container {
    display: flex;
  }

  .about-us .container .col-left {
    width: 60%;
  }

  .about-us .container .col-right {
    width: 35%;
  }

 
  .cta .container {
    width: 80%;
    height: 500px;
  }


  footer .container {
    width: 80%;
    height: 500px;
  }
}

@media screen and (min-width:786px) {
  .container {
    width: 80%;
  }

  header .container {
    width: 80%;
  }

  header .menu-right {
    display: block;
  }

  header .side-menu {
    display: none;
  }

  .card-big .text{
    width: 50%;
    display: flex;
  }

  .card-big .phone{
    display: flex;
  }

  .section-demo .container .card-big {
    height: 330px;
  }
  
  .section-demo .container .row .card {
    height: 330px;
  }
  
  .section-demo .container .card {
    height: 330px;
  }

  main .section-2 .right{
    width: 50%;
  }

  main .section-2 .left {
    width: 50%;
  }

  .benefits .container-cards {
    flex-wrap: wrap;
  }

  .benefits .container-cards .card{
    width: calc(90% / 3);
  }

  .cta .container {
    width: 30%;
    height: 500px;
  }


  footer .container {
    width: 30%;
    height: 500px;
  }

}
/* /Responsive */