* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* General */
.d-flex {
  display: flex;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.debug {
  border: 1px solid black;
  background-color: rgba(164, 99, 99, 0.355);
}

.button {
  height: fit-content;
  display: flex;
  border-radius: 20px;
  padding: 5px 10px;
}

.white {
  background-color: white;
}
.purple {
  background-color: #9792E4;
}
/* /General */


/* Header */
header {
  background-color: #0084FD;
}

header .container{
  align-items: center ;
  justify-content: space-between;
  width: 90%;
  height: 70px;
}


header .logo {
  width: 30%;
}
header .logo img {
  
  height: 40px
;
}

header .menu-right {
  justify-content: flex-end;
  width: 70%;
  height: 100%;
  z-index: -1;
} 

header .menu-right nav ul {
  list-style: none;
}

header .menu-right nav ul li a{
  text-decoration: none;
  color: white;
  margin-right: 20px;
  line-height: 70px;
}

header .menu-right nav ul li a:hover {
  text-decoration: underline;
}

header .menu-right .button {
  align-self: center;
}

header .side-menu i{
  height: 100%;
  font-size: 30px;
  color: white;
/* debug */
  width: 70px
}
/* /Header */


/* Main */


main .container {
  height: 100%;
  flex-wrap: wrap;

}

main .container .row {
  flex-wrap: wrap;
}

main .container .card-big {
  width: 100% ;
  
  margin: 10px auto;
  flex-wrap: wrap;
  /* debug */
  height: 600px;
  border: 1px solid black;

}

main .container .card {
  width: 100%;
  height: 330px;
  margin: 10px auto;
}


/* Section 2 */
.section-2 .container{
  align-items: baseline;
  flex-wrap: wrap;
}

.section-2 .left{
  width: 100%;
  height: 600px;
}

.section-2 .right{
  width: 100%;
  height: 500px;
}

/* /Section 2 */

/* Testimonial */
.testimonial .intestazione {
  width: 100%;
  height: 200px;
}

.testimonial .card {
  height: 500px;
  width: 100%;
  margin-bottom: 10px;
}

.testimonial .card .img {
  height: 40%;
}

/* Testimonial */


/* Benefits */

.benefits .container .text {
  height: 50px;
  
}

.benefits .container-cards .card {
  height: 300px;
}

/* Benefits */

/* About Us */
.about-us .container .col-left {
  width: 100%;
  height: 500px;
}

.about-us .container .col-right {
  width: 100%;
  height: 500px;
}
/* /About Us */

/* CTA */
.cta {
  height: 500px;
}

.cta .content {
  height: 400px;
}

/* /CTA */


/* /Main */

/* Footer */
  footer .container {
    text-align: center;
    height: 130px;
  }


/* /Footer */


/* Responsive */

@media screen and (min-width: 480px ){
  /* section demo  */
  .section-demo .container .card{
    width: calc(90% / 3);
  }
  .section-demo .container .row .card{
    width: calc(90% / 3);
  }

  main .container .row {
  flex-wrap: wrap;
  }


  main .container .card-big {
    height: 560px;
    width: 63%;
  }

  main .container .row .card {
    height: 560px;
  }
  /* Testimonial  */

  main .testimonial .card {
    width: 100%;
    height: 200px;
  }

  .testimonial .card .img {
    height: 100%;
    width: 30%;
  }

  /* Benefits */
  .benefits .container-cards {
    display: flex;
    flex-wrap: wrap;
  }

  .benefits .container-cards .card{
    width: 45%;
  }

  /* About Us */
  .about-us .container {
    display: flex;
  }

  .about-us .container .col-left {
    width: 60%;
  }

  .about-us .container .col-right {
    width: 35%;
  }

  
  /* About Us */
  .cta .container {
    width: 80%;
    height: 500px;
  }

/* Footer */
  footer .container {
    width: 80%;
    height: 500px;
  }
}

@media screen and (min-width:786px) {
 
/* header */
  .container {
    width: 80%;
  }

  header .container {
    width: 80%;
  }

  header .menu-right {
    z-index: 1;
  }

  header .side-menu {
    display: none;
  }
 /* section demo  */
  .card-big .text{
    width: 50%;
    display: flex;
  }

  .card-big .phone{
    display: flex;
  }

  .section-demo .container .card-big {
    height: 330px;
  }
  
  .section-demo .container .row .card {
    height: 330px;
  }
  
  .section-demo .container .card {
    height: 330px;
  }

  /* section 2 */
  main .section-2 .right{
    width: 50%;
  }

  main .section-2 .left {
    width: 50%;
  }

  /* benefits */
  .benefits .container-cards {
    flex-wrap: wrap;
  }

  .benefits .container-cards .card{
    width: calc(90% / 3);
  }

  /* CTA */

  .cta .container {
    width: 30%;
    height: 500px;
  }

/* footer */
  footer .container {
    width: 30%;
    height: 500px;
  }

}
/* /Responsive */